

@font-face {
  src: url("Droop_V2VF.woff2")
    format("woff2");
  font-family: droop;
  color: rgb(255, 255, 255);
  
}


@font-face {
  src: url("AmericanRadar-Regular.otf")
    format("truetype");
  font-family: AR;
  color: rgb(255, 255, 255);
  
}




html,
body {
  margin: 0;
  padding: 10;
  font-family: "AR";
  font-size: 1vw;
    background: rgb(60, 136, 235);
  color: #fff;
}





a {
  color: #fff;
  
}

canvas {
  display: block;
}

section {
  padding: 10px 5vw;
}

#ios {
/*   direction: rtl; */
  padding-bottom: 1em;
  padding: 10px 5vw;
}

#variable {
  width: 100%;
  box-sizing: border-box;
/*   direction: rtl; */
  display: block;
  max-width: 100%;
  min-height: 20vh;
  font-family: "droop";
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0px solid;
  font-size: 10.1em;
  color: #fff;
  text-transform: uppercase;
}

#font-info {
  margin-top: 2em;
  min-height: 10vh;
  font-size: 1vw;
}